*~
.DS_Store
.idea
npm-debug.log*

.babel-cache/
coverage/

node_modules
bower_components
dist
.tmp
.sass-cache

build
*.bak

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

*.log
*.gz
